.menu-lateral {
    background-color: #fff;
    width: 70%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all .3s ease;
    transform: translateX(-100%);
    padding: 30px;
}

.menu-lateral.active {
    transform: translateX(0%)
}

.menu-lateral a {
    display: block;
    padding: 6px;
    font-family: 'Amaranth', sans-serif;
    color: rgb(67, 67, 68);
    margin-bottom: 10px;
}

.menu-lateral a:hover {
    background: #f2f2f2;
    text-decoration: none;
}

.fondo-enlace {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    /* background: rgba(0, 0, 0, .5); */
    z-index: 99;
}

.fondo-enlace.active {
    display: block;
    background: rgba(0, 0, 0, .5);
}

i {
    color: rgb(246, 168, 0);
    padding-right: 20px;
}

.barra {
    /* position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center; */
    padding: .5rem 1rem;
}

#titulo-menu {
    padding-left: 20%;
    color: #fff;
    text-transform: uppercase;
}